In [1]:
import pandas as pd
import numpy as np

In [2]:
file="final_raw.csv"

In [3]:
_data=pd.read_csv(file)

In [4]:
_data

,RelativeTimeMilliseconds,Clock,HR,Pulse,SpO2,awRR,NBP_Sys,NBP_Dia,NBP_Mean,NBP_Pulse,Temp,RR,Set RR,Num Patient Alarms,Num Technical Alarms
0,0,10:30,81.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,10,0,4
1,1000,10:30,80.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,10,0,3
2,2000,10:30,80.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,10,0,4
3,3000,10:30,79.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,10,0,4
4,4000,10:30,79.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,10,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7303,7303000,12:31,NaN,116.0,100.0,0.0,125.0,75.0,87.0,88.0,NaN,8,10,3,2
7304,7304000,12:31,NaN,116.0,100.0,0.0,125.0,75.0,87.0,88.0,NaN,8,10,3,2
7305,7305000,12:31,NaN,116.0,100.0,0.0,125.0,75.0,87.0,88.0,NaN,8,10,3,2
7306,7306000,12:31,NaN,116.0,100.0,0.0,125.0,75.0,87.0,88.0,NaN,8,10,3,2
7307,7307000,12:31,NaN,116.0,100.0,0.0,125.0,75.0,87.0,88.0,NaN,8,10,3,2

In [5]:
_data.isnull()

,RelativeTimeMilliseconds,Clock,HR,Pulse,SpO2,awRR,NBP_Sys,NBP_Dia,NBP_Mean,NBP_Pulse,Temp,RR,Set RR,Num Patient Alarms,Num Technical Alarms
0,False,False,False,True,True,False,True,True,True,True,True,False,False,False,False
1,False,False,False,True,True,False,True,True,True,True,True,False,False,False,False
2,False,False,False,True,True,False,True,True,True,True,True,False,False,False,False
3,False,False,False,True,True,False,True,True,True,True,True,False,False,False,False
4,False,False,False,True,True,False,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7303,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
7304,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
7305,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
7306,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False
7307,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False

In [6]:
_data.describe()

,RelativeTimeMilliseconds,HR,Pulse,SpO2,awRR,NBP_Sys,NBP_Dia,NBP_Mean,NBP_Pulse,Temp,RR,Set RR,Num Patient Alarms,Num Technical Alarms
count,7.308000e+03,7043.000000,7243.000000,7243.000000,7246.000000,7260.000000,6765.000000,6765.000000,7260.000000,6447.000000,7308.000000,7308.0,7308.000000,7308.000000
mean,3.653500e+06,83.998438,84.130195,99.072208,11.749517,108.798485,68.193792,77.699630,83.812121,35.959407,11.685824,10.0,0.250958,0.351943
std,2.109782e+06,9.912633,10.464101,0.736963,4.271471,14.427497,10.674190,11.588344,9.582608,0.073441,3.950471,0.0,0.601734,0.766302
min,0.000000e+00,70.000000,67.000000,95.000000,0.000000,78.000000,54.000000,62.000000,71.000000,35.300000,0.000000,10.0,0.000000,0.000000
25%,1.826750e+06,77.000000,77.000000,99.000000,10.000000,98.000000,59.000000,68.000000,78.000000,35.900000,10.000000,10.0,0.000000,0.000000
50%,3.653500e+06,81.000000,81.000000,99.000000,10.000000,105.000000,65.000000,75.000000,79.000000,36.000000,10.000000,10.0,0.000000,0.000000
75%,5.480250e+06,88.000000,88.500000,99.000000,15.000000,118.000000,76.000000,87.000000,88.000000,36.000000,15.000000,10.0,0.000000,0.000000
max,7.307000e+06,118.000000,125.000000,100.000000,36.000000,144.000000,93.000000,105.000000,105.000000,36.100000,24.000000,10.0,3.000000,5.000000

In [7]:
_data["HR"].mean()

83.99843816555445

In [11]:
data1=_data.replace(to_replace=np.nan,value=_data.mean())

In [12]:
data1.isnull()

,RelativeTimeMilliseconds,Clock,HR,Pulse,SpO2,awRR,NBP_Sys,NBP_Dia,NBP_Mean,NBP_Pulse,Temp,RR,Set RR,Num Patient Alarms,Num Technical Alarms
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7303,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7304,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7305,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7306,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7307,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7308 entries, 0 to 7307
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RelativeTimeMilliseconds  7308 non-null   int64
 1   Clock                     7308 non-null   object
 2   HR                        7308 non-null   float64
 3   Pulse                     7308 non-null   float64
 4   SpO2                      7308 non-null   float64
 5   awRR                      7308 non-null   float64
 6   NBP_Sys                   7308 non-null   float64
 7   NBP_Dia                   7308 non-null   float64
 8   NBP_Mean                  7308 non-null   float64
 9   NBP_Pulse                 7308 non-null   float64
 10  Temp                      7308 non-null   float64
 11  RR                        7308 non-null   int64
 12  Set RR                    7308 non-null   int64
 13  Num Patient Alarms        7308 non-null   int64
 14  Num Technical Alarms      7308 non-null   int64
dtypes: float64(9), int64(5), object(1)
memory usage: 856.5+ KB

In [ ]:
#data1=_data.dropna(axis = 0, how ='any')
#data1.info()

In [ ]:
#_data["HR"].replace(to_replace = "NAN", value =_data["HR"].mean() )
#_data["Pulse"].replace(to_replace = "NAN", value =_data["Pulse"].mean() )
#_data["Spo2"].replace(to_replace = "NAN", value =_data["Spo2"].mean() )
#_data["NBP_Mean"].replace(to_replace = "NAN", value =_data["NBP_Mean"].mean() )
#_data["Temp"].replace(to_replace = "NAN", value =_data["Temp"].mean() )
#_data["RR"].replace(to_replace = "NAN", value =_data["RR"].mean() )

In [14]:
data1["RR"].replace(to_replace =0,
                 value =_data["RR"].mean())

0       11.685824
1       11.685824
2       11.685824
3       11.685824
4       11.685824
          ...
7303     8.000000
7304     8.000000
7305     8.000000
7306     8.000000
7307     8.000000
Name: RR, Length: 7308, dtype: float64

In [ ]:
#_data.interpolate(method ='linear', limit_direction ='forward')

In [15]:
data1.describe()

,RelativeTimeMilliseconds,HR,Pulse,SpO2,awRR,NBP_Sys,NBP_Dia,NBP_Mean,NBP_Pulse,Temp,RR,Set RR,Num Patient Alarms,Num Technical Alarms
count,7.308000e+03,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.000000,7308.0,7308.000000,7308.000000
mean,3.653500e+06,83.998438,84.130195,99.072208,11.749517,108.798485,68.193792,77.699630,83.812121,35.959407,11.685824,10.0,0.250958,0.351943
std,2.109782e+06,9.731224,10.417455,0.733678,4.253310,14.380031,10.269923,11.149455,9.551082,0.068978,3.950471,0.0,0.601734,0.766302
min,0.000000e+00,70.000000,67.000000,95.000000,0.000000,78.000000,54.000000,62.000000,71.000000,35.300000,0.000000,10.0,0.000000,0.000000
25%,1.826750e+06,77.000000,77.000000,99.000000,10.000000,98.000000,59.000000,68.000000,78.000000,35.900000,10.000000,10.0,0.000000,0.000000
50%,3.653500e+06,81.000000,81.000000,99.000000,10.000000,105.000000,68.000000,77.000000,79.000000,35.959407,10.000000,10.0,0.000000,0.000000
75%,5.480250e+06,88.000000,88.000000,99.000000,15.000000,118.000000,75.000000,85.000000,88.000000,36.000000,15.000000,10.0,0.000000,0.000000
max,7.307000e+06,118.000000,125.000000,100.000000,36.000000,144.000000,93.000000,105.000000,105.000000,36.100000,24.000000,10.0,3.000000,5.000000

In [19]:
data=pd.DataFrame(data1,columns=["HR","SpO2","NBP_Mean","Temp","RR"])

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7308 entries, 0 to 7307
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   HR        7308 non-null   float64
 1   SpO2      7308 non-null   float64
 2   NBP_Mean  7308 non-null   float64
 3   Temp      7308 non-null   float64
 4   RR        7308 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 285.6 KB

In [24]:
final_data=data.replace(to_replace =0, 
                            value =data.mean())

In [ ]:
final_data